name: compile
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  compile:
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    concurrency:
      group: release
      cancel-in-progress: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          submodules: recursive
          
      - name: Setup Typst
        uses: typst-community/setup-typst@v4
        with:
          typst-version: latest
          
      - name: Compile CV
        run: typst compile main.typ main.pdf
          
      - uses: actions/setup-node@v6
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          node-version: '24.11.1'
      - name: Release
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        run: |
          npm install
          npx semantic-release
