name: compile
on:
  push:
    branches:
      - main
jobs:
  compile:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    concurrency:
      group: release
      cancel-in-progress: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          submodules: recursive
          
      - name: Setup Typst
        uses: typst-community/setup-typst@v4
        with:
          typst-version: latest
          
      - name: Compile CV
        run: typst compile main.typ main.pdf
          
      - uses: actions/setup-node@v4
        with:
          node-version: '20.11.0'
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        run: |
          npm install
          npx semantic-release
